volumes:
  bundle_data:

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    env_file:
      - .env
    volumes:
      - .:/app
      - bundle_data:/app/vendor/bundle
    working_dir: /app
    command: bundle exec jekyll serve --host 0.0.0.0 --port 3000 --watch